<%- include("./partials/header") %>

<div class="row">
    <div class="col-sm-4">
<h4>left side</h4>
    </div>
    <div class="col-sm-8">
<h2>right side</h2>
    </div>
</div>


















<%- include("./partials/footer") %>